@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

* {
  box-sizing: border-box;
  z-index: 10;
}
