@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to left top, #c87ba6, #bb71ab, #a969b1, #9263b8, #725fbe, #5b68c5, #3e70ca, #0077cc, #0087cb, #0093bf, #009dad, #06a49a);

    color: white;
}

* {
  box-sizing: border-box;
  z-index: 10;
}
