@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-color: blue;
    background-image: radial-gradient( circle farthest-corner at 7.2% 13.6%,  rgb(18, 131, 207) 0%, rgb(6, 25, 164) 90% );

    color: white;
}

* {
  box-sizing: border-box;
  z-index: 10;
}
