.Navbar{
    width: 100%;
    height: 10%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    text-shadow: 2px 2px 9px rgb(80, 80, 80);
    transition: 150ms ease-in-out;
}
.title:hover{
    
    text-shadow: 2px 2px 9px rgb(80, 80, 80), 2px 2px 9px black;
    animation: jiggle 150ms ease-in-out;
}
@keyframes jiggle {
    0% {
        transform: rotateZ(0deg);
    }
    25%{
        transform: rotateZ(5deg);
    }
    50%{
        transform: rotateZ(0deg);
    }
    75%{
        transform: rotateZ(-5deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.button {
    
    padding: .5rem 1rem;
    border-radius: 1rem;

    font-weight: bolder;

  background-color: #7e85e0;
  box-shadow: rgba(44, 49, 187, 0.2) 0 -25px 18px -14px inset,rgba(49, 44, 187, 0.15) 0 1px 2px,rgba(44, 73, 187, 0.15) 0 2px 4px,rgba(44, 49, 187, 0.15) 0 4px 8px,rgba(44, 53, 187, 0.15) 0 8px 16px,rgba(44, 68, 187, 0.15) 0 16px 32px;
  color: rgb(238, 238, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(44, 77, 187, 0.35) 0 -25px 18px -14px inset,rgba(44, 68, 187, 0.25) 0 1px 2px,rgba(44, 82, 187, 0.25) 0 2px 4px,rgba(44, 68, 187, 0.25) 0 4px 8px,rgba(44, 53, 187, 0.25) 0 8px 16px,rgba(44, 58, 187, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}