.container{
    position: absolute;
    top: 33%;
    left: 5%;

    width: 350px;
    height: 280px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    /* border: solid 2px rgb(0, 21, 128); */
    border-radius: 0.5rem;
    background: rgba(38, 38, 43, 0.63);

    transition: box-shadow 150ms ease-in-out;

    padding: 0.5rem 0;
    z-index: 1000;
}
.title{
    font-weight: bolder;
    margin-top: -.3rem;
}

.container:hover{
    box-shadow: 0px 2px 4px 0px rgb(78, 78, 78);
}

.input_field{
    font-size: 0.8rem;
    width: 100%;
    padding-bottom: 0.15rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.input_field>select{
    padding: 0 0.5rem;
    background: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: solid 1px white;
}
.input_field>select>option{
    color: black;
}

.input{
    width: 300px;
    height: 200px;
    padding: 1rem;

    border: none;
    border-radius: 0.1rem;
    
    background-color: rgba(255, 255, 255, 0.296);

    color: white;
    resize: none;
    cursor: pointer;
}

.btn{
    margin-top: .3rem;
    /* margin-bottom: -5px; */
    padding: .2rem .4rem;

    font-size: 0.6rem;
    /* font-weight: bolder; */

    background: transparent;
    color: white;

    border: solid 1px white;
    /* border-radius: 2px; */
    transform: skewX(-10deg);
    transition: 50ms ease-out;
}

.btn:hover{
    transform: skewX(-10deg) translate(-1px, -1px);
    box-shadow: 4px 4px grey;
}