.container{
    width: 350px;
    height: 300px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    border: solid 2px rgb(0, 21, 128);
    border-radius: 0.5rem;

    transition: box-shadow 150ms ease-in-out;

    padding: 1rem;
}
.title{
    font-weight: bolder;
    margin-top: -.5rem;
    margin-bottom: 0.5rem;
}

.container:hover{
    box-shadow: 0px 2px 4px 0px rgb(78, 78, 78);
}
.container:hover .input{
    box-shadow: 0px 2px 4px 0px rgb(78, 78, 78);
}

.input_field{
    font-size: 0.8rem;
    width: 100%;
    padding: 0.1rem;
    padding-bottom: 0.3rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.input{
    width: 300px;
    height: 200px;
    padding: 1rem;

    border: none;
    border-radius: 0.3rem;

    background: rgb(63,85,125);
    background: -moz-radial-gradient(circle, rgba(63,85,125,1) 11%, rgba(56,56,96,1) 52%, rgba(41,39,87,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(63,85,125,1) 11%, rgba(56,56,96,1) 52%, rgba(41,39,87,1) 100%);
    background: radial-gradient(circle, rgba(63,85,125,1) 11%, rgba(56,56,96,1) 52%, rgba(41,39,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f557d",endColorstr="#292757",GradientType=1);

    color: white;
    resize: none;
}

.input:read-only{
    background: rgb(80,96,99);
    background: -moz-radial-gradient(circle, rgba(80,96,99,1) 11%, rgba(55,55,60,1) 95%, rgba(45,45,45,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(80,96,99,1) 11%, rgba(55,55,60,1) 95%, rgba(45,45,45,1) 100%);
    background: radial-gradient(circle, rgba(80,96,99,1) 11%, rgba(55,55,60,1) 95%, rgba(45,45,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#506063",endColorstr="#2d2d2d",GradientType=1);
}